

body{
   background-color: rgb(213, 114, 26);
}

h1{
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
   text-align: center;
   margin-top: 50px;
   color: rgb(13, 18, 145);
}

/*BUTTONS*/
#Button1{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(43, 46, 149);
    padding: 5px;
    border: 2px solid rgb(13, 18, 145);
    background-color:  rgb(213, 114, 26);
    margin-top: 50px;
}
#Button1:hover{
   color: white;
   border: 2px solid white;
}

#Button2{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(43, 46, 149);
    padding: 5px;
    border: 2px solid rgb(13, 18, 145);
    background-color:  rgb(213, 114, 26);
    margin-top: 50px;
}
#Button2:hover{
   color: white;
   border: 2px solid white;
}

/*TEXT*/
#Line1 {
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(13, 18, 145);
}

#Line2 {
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(13, 18, 145);
}


/*LINKS*/
a{
  font-family: "Gabarito", sans-serif;
   display: block;
   margin-bottom: 20px;
   text-align: center;
   color: rgb(13, 18, 145);
   text-decoration: none;
   transition: color 0.3s ease;
}
a:hover{
   color: rgb(184, 236, 161);
   text-decoration: underline;
}

/*RETURN LINK*/
footer{
   padding: 20px;
   text-align: center;
   margin-top: 60px;
}

