h1{
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;  text-align: center;
    margin-top: 50px;
}

h2{
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
}

/*BACKGROUND GRADIENT*/
body{
    background-image:linear-gradient(to top, #6AB547, #74cae7) ;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/*LINKS*/
a{
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(5, 82, 5);
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover{
    color: rgb(184, 236, 161);
    text-decoration: underline;
}

/*RETURN LINK*/
footer{
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}


/*POMES*/
.rose{
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
    font-size:x-large;
    margin-top: 100px;
    text-align: center;
}
.rose a{
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(143, 8, 8);
    text-decoration: none;
    transition: color 0.3s ease;
}

.rose a:hover{
      color: rgb(225, 38, 38);
    text-decoration: underline;
}






