

body{
   background-color: black;
}

h1{
   font-family: "Quintessential", serif;
 font-weight: 400;
 font-style: normal;
   text-align: center;
   margin-top: 50px;
   color: red;
}
p{
  font-family: "Rosarivo", cursive;
  font-weight: 400;
  font-style: normal;
  color: red;
}

/*BUTTONS*/
#Button1{
    font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button2{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button3{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button4{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button5{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button6{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button7{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button8{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button9{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button10{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button11{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button12{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button13{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button14{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button16{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button17{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button18{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button19{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button20{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

#Button21{
     font-size: small;
    color: red;
    padding: 5px;
    border: 2px solid red;
    background-color: black;
    margin-top: 50px;
}

/*TEXT*/
#Line1 {
  transition: opacity 1s ease-in-out;
  display: inline-block;
}

#Line2 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line3 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line4 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line5 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line6 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line7 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line8 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line9 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line10 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line11 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line12 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line13 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line14 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line15 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line16 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line17 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line18 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line19 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line20 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

#Line21 {
  display: inline-block;
  transition: opacity 1s ease-in-out;
}


/*LINKS*/
a{
  font-family: "Gabarito", sans-serif;
   display: block;
   margin-bottom: 20px;
   text-align: center;
   color: red;
   text-decoration: none;
   transition: color 0.3s ease;
}
a:hover{
   color: rgb(184, 236, 161);
   text-decoration: underline;
}

/*RETURN LINK*/
footer{
   padding: 20px;
   text-align: center;
   margin-top: 60px;
}

