

body{
   background-color: rgb(243, 208, 94);
}

h1{
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
   text-align: center;
   margin-top: 50px;
   color: rgb(34, 145, 91);
}

/*BUTTONS*/
#Button1{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 50px;
    margin-left: 595px;
}
#Button1:hover{
   color: white;
   border: 2px solid white;
}

#Button2{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 50px;
}
#Button2:hover{
   color: white;
   border: 2px solid white;
}

#Button3{
     font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 50px;
    margin-left: 1200px;
}
#Button3:hover{
   color: white;
   border: 2px solid white;
}

#Button4 {
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 50px;
}
#Button4:hover{
   color: white;
   border: 2px solid white;
}

#Button5 {
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 50px;
}
#Button5:hover{
   color: white;
   border: 2px solid white;
}

#Button6{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 50px;
    margin-left: 1200px;

}
#Button6:hover{
   color: white;
   border: 2px solid white;
}

#Button7{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 50px;
}
#Button7:hover{
   color: white;
   border: 2px solid white;
}

#Button8{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 80px;
     margin-left: 700px;
}
#Button8:hover{
   color: white;
   border: 2px solid white;
}

#Button8{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 50px;
     margin-left: 700px;
}
#Button8:hover{
   color: white;
   border: 2px solid white;
}

#Button9{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 50px;
     margin-left: 700px;
}
#Button9:hover{
   color: white;
   border: 2px solid white;
}

#Button10{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 80px;
    margin-left: 700px;
}
#Button10:hover{
   color: white;
   border: 2px solid white;
}

#Button11{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
     margin-top: 100px;
    margin-left: 700px;
}
#Button11:hover{
   color: white;
   border: 2px solid white;
}

#Button12{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 50px;
    margin-left: 900px;
}
#Button12:hover{
   color: white;
   border: 2px solid white;
}

#Button13{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 50px;
    margin-left: 800px;
}
#Button13:hover{
   color: white;
   border: 2px solid white;
}

#Button14{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 50px;
    margin-left: 600px;
}
#Button14:hover{
   color: white;
   border: 2px solid white;
}

#Button15{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 50px;
    margin-left: 700px;
}
#Button15:hover{
   color: white;
   border: 2px solid white;
}

#Button16{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 50px;
     margin-left: 700px;
}
#Button16:hover{
   color: white;
   border: 2px solid white;
}

#Button17{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 80px;
     margin-left: 700px;
}
#Button17:hover{
   color: white;
   border: 2px solid white;
}

#Button18{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
     margin-top: 100px;
     margin-left: 700px;
}
#Button18:hover{
   color: white;
   border: 2px solid white;
}

#Button19{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 50px;
    margin-left: 500px;
}
#Button19:hover{
   color: white;
   border: 2px solid white;
}

#Button20{
   font-size: small;
   font-family: "Spectral", serif;
   font-weight: 600;
    color: rgb(34, 145, 91);
    padding: 5px;
    border: 2px solid rgb(34, 145, 91);
    background-color:  rgb(243, 208, 94);
    margin-top: 50px;
    margin-left: 700px;
}
#Button20:hover{
   color: white;
   border: 2px solid white;
}


/*TEXT*/
#Line1 {
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color:rgb(34, 145, 91);
   margin-left: 595px;
}

#Line2 {
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
}

#Line3{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
  margin-left: 1200px;
}

#Line4{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
}

#Line5{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
}

#Line6{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
  margin-left: 1200px;
}

#Line7{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
}

#Line8{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
   margin-left: 700px;
}

#Line9{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
   margin-left: 700px;
}

#Line10{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
   margin-left: 700px;
}

#Line11{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
   margin-left: 700px;
}

#Line12{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
   margin-left: 900px;
}

#Line13{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
   margin-left: 800px;
}

#Line14{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
   margin-left: 600px;
}

#Line15{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
  margin-left: 700px;
}

#Line16{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
  margin-left: 700px;
}

#Line17{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
  margin-left: 700px;
}

#Line18{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
  margin-left: 700px;
}

#Line19{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
  margin-left: 500px;
}

#Line20{
   display: none;
   font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(34, 145, 91);
  margin-left: 700px;
}





/*LINKS*/
a{
  font-family: "Gabarito", sans-serif;
   display: block;
   margin-bottom: 20px;
   text-align: center;
  color: rgb(34, 145, 91);
   text-decoration: none;
   transition: color 0.3s ease;
}
a:hover{
   color: rgb(184, 236, 161);
   text-decoration: underline;
}

/*RETURN LINK*/
footer{
   padding: 20px;
   text-align: center;
   margin-top: 60px;
}

