body{
    background-color: black;
}
h3{
    font-family:Noto Sans Mono;
    src: url('../css/NotoSansMono-Medium.tff');
    color: white;
    text-align: center;
}
h2{
    font-family:Joti One; 
    src: url('../css/JotiOne-Regular.tff');
    color:white; 
    text-align: center;
}

a:link{
    color:white
}
a:visited{
    color:red
}

img{
    display: block;
    margin: 20px auto;
    width: 50%;
    max-width: 100%;
    border: 10px solid rgb(175, 3, 3);

}