body{
    background-color: black;
}

h1{
    color: white;
}
a:link{
    color:white
}
a:visited{
    color:red
}

img{
    display: block;
    margin: 20px auto;
    width: 50%;
    max-width: 100%;
    border: 10px solid rgb(175, 3, 3);

}

.choices{ 
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
}

h1{
   font-family:Joti One; 
   src: url('../css/JotiOne-Regular.tff');
}
